.main-page {
  position: relative;
  &__img {
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 15px;
    border: 3px solid rgb(88, 243, 101);

    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__action {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: all 0.3s linear;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
