.dot {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &__body {
    display: block;
    width: 15px;
    height: 15px;

    border-radius: 50%;
    background-color: red;

    overflow: hidden;

    font-size: 0;
  }
}
