@import "../../styles/default/variables.scss";

.dot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  &__body {
    display: block;
    width: 25px;
    height: 25px;

    border-radius: 50%;
    border: 2px solid rgb(218, 216, 216);
    background-color: tomato;

    overflow: hidden;

    font-size: 0;

    transition: all 0.2s linear;

    cursor: pointer;
  }

  &__actions {
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1;
  }

  &__list {
    width: 100px;
    padding: 10px;

    background-color: rgb(137, 173, 241);
    border: 2px solid rgb(218, 216, 216);
    border-radius: 10px;

    li {
      display: block;
      margin-bottom: 10px;

      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #fff;

      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $md2 + px) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
